<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Face Recognition App{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        
        .heading {
            font-size: 2.5rem; /* Size of the font */
            color: #343a40; /* Dark grey color */
            text-align: left; /* Center align the text */
            margin-top: 20px; /* Space above the heading */
            margin-bottom: 20px; /* Space below the heading */
            font-weight: bold; /* Bold text */
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); /* Shadow for a subtle 3D effect */
        }
    </style>
</head>
<body>
    <h1 class="heading">REAL - TIME ATTENDANCE MONITORING SYSTEM</h1>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('home') }}">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('imgenter.home') }}">Add New Person</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('facerecog.home') }}">Face Recognition</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-4">
        {% block content %}{% endblock %}
    </div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
