<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Recognition System</title>
    <!-- Add your CSS files here -->

    <!-- Add Bootstrap CSS for styling -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        
</head>
<body>
    <object type="text/html" data="navbar1.html" width="100%" height="auto"></object>
    <div class="container">
        <h1>Welcome to the Face Recognition System</h1>
        <p>Use the navigation menu to add a person or start face recognition.</p>
    </div>
</body>
</html>


