{% extends "base.html" %}

{% block title %}Home - Face Recognition App{% endblock %}

{% block content %}
<div class="container">
    <h3 style="font-size: 2.5rem; color: #20c997; text-align: center; margin-top: 55px; margin-bottom: 20px; font-weight: bold;">
        Welcome to the Face Recognition System
    </h3>
    <p style="font-size: 1.25rem; color: #6c757d; text-align: center; margin-top: 10px;">
        Use the navigation menu to add a person or start face recognition.
    </p>
    <p style="font-size: 1.25rem; margin-top: 5%; color: #343a40; text-align: justify; line-height: 1.6;">
        Using facial recognition technology, this real-time attendance monitoring system is
        intended to automate the process of recording attendance. This project records live
        video feeds, finds faces inside the frames, then compares those faces to a database of
        people who are already defined. The system makes use of OpenCV for video capture, the haarcascade
        classifier for face detection and DeepFace's FaceNet512 model for effective face encoding.
        The system effectively matches the identified faces with the stored data by utilising
        cosine_similarity, offering a quick and effective way to recognise faces in real time. 
    </p>
    
</div>
{% endblock %}
