{% extends "base.html" %}

{% block title %}Home - Face Recognition App{% endblock %}

{% block content %}
<div class="container">
    <h3 style="font-size: 2.5rem; color: #20c997; text-align: center; margin-top: 55px; margin-bottom: 20px; font-weight: bold;">
        Welcome to the Face Recognition System
    </h3>
    <p style="font-size: 1.25rem; color: #6c757d; text-align: center; margin-top: 10px;">
        Use the navigation menu to add a person or start face recognition.
    </p>
    <p style="font-size: 1.25rem; margin-top: 5%; color: #343a40; text-align: justify; line-height: 1.6;">
        The project aims to build a real-time face recognition system leveraging computer vision techniques.
        The core of the system is based on OpenCV for video capture and image processing, and the face_recognition
        library for facial feature extraction and matching. The system is designed to identify individuals from
        a pre-defined dataset and mark attendance automatically, making it suitable for use in 
        educational institutions, workplaces, and security monitering.
    </p>
    
</div>
{% endblock %}
